{% extends "layout.html" %}

{% block body %}

        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                       <ul>
                           <li>
                               Having 6 years of experience in Automation testing in Selenium with Java. Used multiple tools like Jenkins,GitHub, TFS, maven etc.Currently, I am working in Accenture as a Senior Test Automation engineer. Also,I have worked in Behavior driven framework like Cucumber also.
                           </li>
                               
                           <li>
                               Flexible in functional testing. I have worked in multiple defect tracking tools like TFS, Bugzilla, Jira. I have worked with Postman for API Testing.
                           </li>

                           <li>
                               Flexible to adopt different technologies as per requirement.      
                           </li>

                           <li>
                               Having good exposure with MongoDB non relational database.  
                           </li>

                           <li>
                               Flexible to adopt different technologies as per requirement.      
                           </li>
                            <li>
                                Having good knowledge in linux administration.      
                           </li>
                            <li>
                               Worked with Javascript , and performance testing tool K6.     
                           </li>
                            <li>
                               Creating API endpoints with help of basic Python and Flask.   
                           </li>


                       </ul>
                        

                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
   {% endblock %}
